.calcBody {
    grid-column: 1;
    grid-row: 2;
    background-color: #39383d;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.button {
    display: grid;
    place-content: center;
    background-color: black;
    color:white;
    border-radius: 5px;
    font-size: 48px;
}

.unknown {}

.cancel {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}


.divide {}

.multiply {}

.seven {
    background-color: #58595b;
}

.eight {
    background-color: #58595b;
}

.nine {
    background-color: #58595b;
}

.minus {
    background-color: #58595b;
}

.four {
    background-color: #58595b;
}

.five {
    background-color: #58595b;
}

.six {
    background-color: #58595b;
}

.add {
    background-color: #58595b;
}

.one {
    background-color: #58595b;
}

.two {
    background-color: #58595b;
}

.three {
    background-color: #58595b;
}

.equals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column: 4;
    background-color: #f15a2b;
}

.zero {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;    
    background-color: #58595b;
}

.decimal {
    background-color: #58595b;
}