.calcBody {
    grid-column: 1;
    grid-row: 2;
    background-color: #39383d;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.button {
    display: grid;
    place-content: center;
    color:white;
    border-radius: 5px;
    font-size: 48px;
}

.cancel, 
.divide, 
.multiply {
    background-color: #130f10;
}

.cancel {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.seven,
.eight,
.nine,
.minus,
.four,
.five,
.six,
.add,
.one,
.two,
.three,
.zero,
.decimal {
    background-color: #58595b;
}

.equals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column: 4;
    background-color: #f15a2b;
}

.zero {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3; 
}
